// iframe {
//     width: 100%; /* for responsiveness */
//   }

.wraphead_mobile {
  height: 140px;
  background: #4d8a54;
}

.menubutton {
  position: absolute;
  z-index: 999;
  color: #fff;
  font-size: 18px;
  left: 15px;
  top: 27px;
  font-weight: 700;
}

.w-100 {
  width: 100%;
}

.color-w {
  color: #fff;
}

.wrapmenu_right {
  position: absolute;
  height: 100vh;
  width: 280px;
  z-index: 99999;
  left: 0;
  top: 0px !important;
  display: none;
  transition: margin-left 0.15s, margin-right 0.15s, box-shadow 0.075s, transform 0.15s, width 0.15s, z-index 0s ease 0.15s;
  background-color: white;
}

.link {
  text-decoration: none;
  color: black;
}

.topbar {
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #4d8a54;
}

.h-125 {
  height: 125px;
}

// .nav-item {
//   display: inline-block;
//   float: none;
//   position: relative;
//   height: 125px;
//   margin: 0px 15px;
//   border-radius: 0px;
//   padding: 0px;
// }

.w-200 {
  padding: 0 100px;
}

.header-link {
  display: block;
  text-align: left;
  padding: 0px 0px 0 0;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  height: 125px;
  line-height: 125px;
  position: relative;
  text-decoration: none;
  color: #282828;
}

.m-20 {
  margin: 0 20px;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.image_meal {
  display: flex;
  justify-content: space-around;
}

.w-50-tb {
  width: 100px;
}


.mt-10 {
  margin-top: 50px !important;
}

.m-5 {
  margin: 50px 0 !important;
  padding: 10px !important;
}

.btn-m {
  margin: 20px 0;
}


.ql-picker.ql-font {
  .ql-picker-item {
    font-size: 0;

    &:before {
      content: attr(data-value) !important;
      font-size: 14px;
    }
  }
}

.ql-picker.ql-font {
  .ql-active {
    &:before {
      content: attr(data-value) !important;
      font-size: 14px;
    }
  }
}

.ql-picker.ql-font .ql-picker-label[data-value="Roboto"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Roboto"]::before {
  font-family: "Roboto", cursive;
  ;
  content: "Roboto" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Raleway"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Raleway"]::before {
  font-family: "Raleway", cursive;
  ;
  content: "Raleway" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Montserrat"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Montserrat"]::before {
  font-family: "Montserrat", cursive;
  ;
  content: "Montserrat" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Lato"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Lato"]::before {
  font-family: "Lato", cursive;
  ;
  content: "Lato" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Rubik"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Rubik"]::before {
  font-family: "Rubik", cursive;
  ;
  content: "Rubik" !important;
}

/* Set content font-families */
.ql-font-Roboto {
  font-family: "Roboto";
}

.ql-font-Raleway {
  font-family: "Raleway";
}

.ql-font-Montserrat {
  font-family: "Montserrat";
}

.ql-font-Lato {
  font-family: "Lato";
}

.ql-font-Rubik {
  font-family: "Rubik";
}