.list-card {
    text-align: center;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.card_:hover {
    transform: scale(1.1);
}

.card_ {
    transition: transform 0.5s;
}

.add-item {
    text-align: end;
    cursor: pointer;

}

// .add-item-k:hover {
//     transform: scale(1.1);
//     border: 1px solid black;
// }